body {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

a, p, h3 {
    font-size: 16px;
    line-height: 19px;
}

.font-18 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    gap: 30px;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* Barre de navigation */

.navbar {
    margin-bottom: 63px;
    padding-top: 24px;
}

img.logo{
    width: 61px;
    padding-top: 15px;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 42px;
}

.nav-links {
    list-style-type: none;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

li a:link, a:visited{
    font-weight: 500;
}

li a {
    padding-left: 25px;
    padding-right: 25px;
}

li a:hover, a:active {
    color: #0065FC;
}

li a:hover {
    border-top: 2px solid #0065FC;
}

/* Titre et description */

p {
    font-weight: 400;
    margin-top: 8px;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Formulaire */

form {
    align-items: center;
    margin-top: 20px;
}

.fa-location-dot {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-top: 16px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}

input {
    padding: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

input[type=submit] {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: white;
    padding: 13px 16px;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    -webkit-border-radius: 0px 16px 16px 0px;
    -moz-border-radius: 0px 16px 16px 0px;
    -ms-border-radius: 0px 16px 16px 0px;
    -o-border-radius: 0px 16px 16px 0px;
}

.fa-search::before {
    display: none;
}

input[type=text] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left-style: none;
    border-right-style: none;
}

::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
    opacity: 1;
}

/* Barre de filtres */

.filterBar {
    align-items: center;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.iconFilter {
    padding-left: 10px;
    padding-right: 10px;
    color: #0065FC;
}

button {
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-left: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    padding: 15px;
}

button:hover {
    background: #DEEBFF;
}

/* Paragraphe d'informations */

.fa-info {
    padding: 7px 12px;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

p.info {
    margin-bottom: 40px;
}

/* Offres d'hébergement */

.offers {
    margin-bottom: 60px;
    gap: 40px;
}

h3 {
    margin: 0px;
    padding-left: 16px;
}

.Prix {
    padding-left: 16px;
    margin-bottom: 0px;
}

.fa-star {
    height: 12px;
    width: 12px;
    padding-right: 2px;
}

.stars {
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 16px;
}

/* Section main */

.offersMain {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}

.hebergements {
    padding-top: 23px;
    padding-bottom: 40px;
}

.filterDiv {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.popular-img {
    width: 215px;
    height: 124px;
    border: 5px solid white;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

/* Section populaires */

.offersSponsored {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    padding-left: 37px;
}
.offersSponsoredDivs a {
    display: block;
}
.sponsoredDiv {
    margin-top: 30px;
    height: 144px;
    width: 100%;
    padding: 5px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sponsored-img {
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px;
}

.popularTitle {
    padding-top: 11px;
}

/* Activités */

.activitesTitle {
    position: relative;
    bottom: 60px;
    padding-left: 19px;
    padding-top: 20px;
    padding-bottom: 21px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
}

.activites {
    margin-top: 18px;
    gap: 10px;
}

.activites-cards {
    max-width: 300px;
    height: 445px;
}

.activites-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    padding-top: 45px;
    margin-top: 40px;
    padding-bottom: 60px;
}

.footerDiv a {
    padding-top: 12px;
}

.footerDiv p {
    padding-bottom: 8px;
}

/* Media queries Tablette */

@media screen and (max-width: 992px) {
    .offers {
        flex-direction: column;
    }

    .offersSponsored {
        flex-direction: column;
    }

    .offersSponsoredDivs {
        flex-direction: row;
    }

    .offersSponsoredDivs a {
        width: 30%;
    }
}

/* Media queries Telephone */

@media screen and (max-width: 768px) {
    body {
        margin: 0px;
    }

    .Accueil, .Title, .activites {
        margin-left: 20px;
        margin-right: 20px;

    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        width: 100%;
        justify-content: space-between;
    }

    .nav-links li {
        width: 50%;
    }

    .nav-links li a {
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 20px;
    }

    nav a:hover{
        color: #0065FC;
        border-top: none;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
    }

    .form {
        max-width: 100%;
    }

    .recherche, #recherche {
        width: 100%;
    }

    input[type=submit] {
        display: none;
    }

    .fa-search::before {
        display: block;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 16px 16px 0px;
        color: white;
        padding: 16px 16px 15px 16px;
        cursor: pointer;
        -webkit-border-radius: 0px 16px 16px 0px;
        -moz-border-radius: 0px 16px 16px 0px;
        -ms-border-radius: 0px 16px 16px 0px;
        -o-border-radius: 0px 16px 16px 0px;
    }

    .filterBar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    #filters {
        width: 100%;
    }

    .filterBar .font-18 {
        margin-left: 15px;
    }

    #filters button {
        width: 43%;
        margin: 15px 15px 0 15px;
    }

    .offers {
        flex-direction: column-reverse;
    }

    .offersSponsored {
        background: #F2F2F2;
        padding: 40px;
        padding-left: 37px;
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }

    .offersMain {
        background-color: white;
        border-radius: 0%;
    }

    .hebergements {
        flex-direction: column;
    }

    .popular-img {
        width: 98%;
    }

    .filterDiv {
        width: 100%;
    }

    .offersSponsoredDivs {
        flex-direction: column;
    }

    .sponsoredDiv {
        width: 325%;
    }

    .activites {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .activites-cards {
        max-width: 100%;
        max-height: 200px;
        margin-bottom: 24px;
    }

    footer {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footerDiv {
        padding-bottom: 40px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    #filters button {
        width: 38%;
        font-size: 13px;
    }
}