body {
    max-width: 1400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
    gap: 30px;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* Barre de navigation */

.navbar {
    margin-bottom: 63px;
    padding-top: 24px;
    padding-right: 27px;
    top: 0px;
}

img.logo{
    width: 61.09px;
    padding-top: 15px;
}
nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 42px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.fa-info {
    padding: 7px 12px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    padding-left: 16px;
}

.activitesTitle {
    position: relative;
    bottom: 50px;
    padding-left: 19px;
    padding-top: 20px;
    padding-bottom: 21px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -ms-border-radius: 0px 0px 20px 20px;
    -o-border-radius: 0px 0px 20px 20px;
}

::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
    opacity: 1;
}

.fa-location-dot {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-top: 16px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}

input {
    padding: 16px;
}

form {
    align-items: center;
    margin-top: 20px;
}

.filterBar {
    display: flex;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.filterTitle {
    display: flex;
    position: relative;
    top: 15px;
}

.iconFilter {
    padding-left: 10px;
    padding-right: 10px;
    color: #0065FC;
}

button {
    border: 3px lightgrey;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-left: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 50px;
    padding-right: 15px;
}

button:hover {
    background: #DEEBFF;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

p.info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}

a:link, a:visited{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

li a {
    padding-left: 25px;
    padding-right: 25px;
}

li a:hover, a:active {
    text-decoration: none;
    color: #0065FC;
}

li a:hover {
    border-top: 2px solid #0065FC;
}

.offersMain {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    height: 626px;
    width: 65%;
    left: 0px;
    top: 0px;
    border-radius: 20px;

}

.offersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "Title Title Title"
    "Hotel1 Hotel2 Hotel3"
    "Hotel4 Hotel5 Hotel6"
    "Plus Plus Plus";
    grid-gap: 31px;
}
.Title { grid-area: Title; } 
.Hotel1 { grid-area: Hotel1; }
.Hotel2 { grid-area: Hotel2; }
.Hotel3 { grid-area: Hotel3; }
.Hotel4 { grid-area: Hotel4; }
.Hotel5 { grid-area: Hotel5; }
.Hotel6 { grid-area: Hotel6; }
.Plus {grid-area: Plus;}

.filterDiv {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hebergements {
    padding-top: 23px;
    padding-bottom: 40px;
}

.popular-img {
    width: 215px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.Prix {
    padding-left: 16px;
    margin-bottom: 0px;
}

.offersSponsored {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    padding-left: 37px;
    height: 626px;
    width: 420px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
}

.offers {
    margin-bottom: 60px;
    gap: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding-top: 45px;
    margin-top: 20px;
    padding-bottom: 60px;
}

.footerDiv {
    display: flex;
    flex-direction: column;
}

.activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
}

input[type=submit] {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: white;
    padding: 13px 16px;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    -webkit-border-radius: 0px 16px 16px 0px;
    -moz-border-radius: 0px 16px 16px 0px;
    -ms-border-radius: 0px 16px 16px 0px;
    -o-border-radius: 0px 16px 16px 0px;
}

input[type=text] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left-style: none;
    border-right-style: none;
}

.activites-img {
    width: 302px;
    height: 445px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.footerDiv a {
    padding-top: 12px;
}

.footerDiv h2 {
    padding-bottom: 8px;
}

.fa-star {
    height: 12px;
    width: 12px;
    padding-right: 2px;
}

.stars {
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 16px;
}

.sponsoredDiv {
    height: 144px;
    width: 343px;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sponsored-img {
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    -ms-border-radius: 20px 0px 0px 20px;
    -o-border-radius: 20px 0px 0px 20px;
}

.popularTitle {
    padding-top: 11px;
}